# dependencies
node_modules/

# Expo / RN
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android

# debug / OS
npm-debug.*
.DS_Store
*.pem
.cert/
.env*.local
*.tsbuildinfo

# IDE
.idea/
.vscode/
.claude/
.vercel
.env*
